* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site{
    display: grid;
    grid-template-columns: 15% 85%;
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    width: 100%;
    height: 100vh;
    background: #ffffff;
}

.navbar-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.navbar-text{
    display: flex;
    width: 100%;
    height: 15%;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
}


.navbar-itens .navbar-item-content{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px 20px 20px 40px;
    align-content: center;
    cursor: pointer;
}

.navbar-itens .navbar-item-content:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar-container h1 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-container img{
    width: 30px;
    height: 30px;
}

.navbar-container .navbar-itens .navbar-item-content a {
    text-decoration: none;
    align-content: center;
}

.navbar-container .navbar-itens .navbar-item-content h2 {
    font-size: 18px;
    font-family: 'Jockey One', sans-serif;
    color: #797979;
    margin: 0px;
}


/* ############################################################### */

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #0F4C75;
}
