* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../images/background_login.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.form-container h2{
    color: #ffffff;
    font-size: 37px;
    font-family: "BBH Sans Hegarty", sans-serif;
    margin-bottom: 70px;
}

.form-container .formulary-content{
    width: 700px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.formulary-content h3{
    font-size: 30px;
    font-family: "BBH Sans Hegarty", sans-serif;
    margin-bottom: 40px;
}


.form-container .formulary-content .needs-validation{
    width: 90%;
    height: 80%;
}

.form-container .formulary-content #inputGroupPrepend img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
