{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="{% static 'images/logo_if.png' %}">
    <link rel="stylesheet" href="{% static 'css_files/login.css' %}">

    <!-- Links do Google Fonts: -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Links do Bootstrap: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>BiblioIF - Login</title>
</head>
<body>
    <div class="form-container">
        <h2>Seja Bem-Vindo ao BiblioIF!</h2>
        <div class="formulary-content">
            <h3>LOGIN</h3>
            <div class="user-photo">
                <img src="{% static 'images/User.png' %}" alt="Foto de um user">
            </div>
            <form class="formulary" action='{% url "biblio_project:login" %}' method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <div class="input-group has-validation">
                        <input type="password" class="form-control" aria-describedby="inputGroupPrepend" id="password" name="password" required>
                        <span class="input-group-text" id="inputGroupPrepend"><img id="password_eye" src="{% static 'images/Eye.png' %}" alt="Visualizar senha"></span>
                    </div>
                    {% if answer %}
                        <h4>{{answer}}</h4>
                    {% endif %}
                    <div id="emailHelp" class="form-text">Você nunca deve compartilhar a senha com outra pessoa.</div>
                    <div id="emailHelp" class="form-text">Caso não esteja cadastrado, <a href="{% url 'biblio_project:sign_in' %}">Cadastre-se</a></div>
                </div>
                <button type="submit" class="btn btn-primary">Logar</button>
            </form>
        </div>
    </div>
    <script>
        const password_eye = document.querySelector('#password_eye')

        function password_view(){
            const input_password = document.querySelector('#password')
            const input_password_type = input_password.getAttribute("type")

            console.log(input_password_type)
            if (input_password_type == 'password'){
                input_password.setAttribute("type", "text")
                password_eye.setAttribute("src", "{% static 'images/no_view.png' %}")
            } else {
                input_password.setAttribute("type", "password")
                password_eye.setAttribute("src", "{% static 'images/Eye.png' %}")
            }
        }

        password_eye.addEventListener('click', password_view)
    </script>
</body>
</html>